In [1]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [3]:
# start the spark session
spark=SparkSession.builder.appName('Practise').getOrCreate()
spark

22/11/21 13:03:10 WARN Utils: Your hostname, davide-Inspiron-3891 resolves to a loopback address: 127.0.1.1; using 192.168.1.46 instead (on interface wlp0s20f3)
22/11/21 13:03:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/21 13:03:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('tips_with_nan.csv')
df_pyspark.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|      null|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|null|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
### Check the schema
df_pyspark.printSchema()

root
 |-- total_bill: string (nullable = true)
 |-- tip: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: string (nullable = true)

In [10]:
### Check head
df_pyspark.head(5)

[Row(total_bill='16.99', tip='1.01', sex='Female', smoker='No', day='Sun', time='Dinner', size='2'),
 Row(total_bill='10.34', tip='1.66', sex='Male', smoker='No', day='Sun', time='Dinner', size='3'),
 Row(total_bill='21.01', tip='3.5', sex='Male', smoker='No', day='Sun', time='Dinner', size='3'),
 Row(total_bill='23.68', tip='3.31', sex='Male', smoker='No', day='Sun', time='Dinner', size='2'),
 Row(total_bill='24.59', tip='3.61', sex='Female', smoker='No', day='Sun', time='Dinner', size='4')]

In [11]:
### Select columns with "select" funcion
df_pyspark.select(['tip','sex']).show()

+----+------+
| tip|   sex|
+----+------+
|1.01|Female|
|1.66|  Male|
| 3.5|  Male|
|3.31|  Male|
|3.61|Female|
|4.71|  Male|
| 2.0|  Male|
|3.12|  Male|
|null|  Male|
|3.23|  Male|
|1.71|  Male|
| 5.0|Female|
|1.57|  Male|
| 3.0|  Male|
|3.02|Female|
|3.92|  Male|
|1.67|Female|
|3.71|  Male|
| 3.5|Female|
|3.35|  Male|
+----+------+
only showing top 20 rows

In [13]:
### Select columns in pandas fashion
df_pyspark[['tip','sex']].show()

+----+------+
| tip|   sex|
+----+------+
|1.01|Female|
|1.66|  Male|
| 3.5|  Male|
|3.31|  Male|
|3.61|Female|
|4.71|  Male|
| 2.0|  Male|
|3.12|  Male|
|null|  Male|
|3.23|  Male|
|1.71|  Male|
| 5.0|Female|
|1.57|  Male|
| 3.0|  Male|
|3.02|Female|
|3.92|  Male|
|1.67|Female|
|3.71|  Male|
| 3.5|Female|
|3.35|  Male|
+----+------+
only showing top 20 rows

In [14]:
### Check types
df_pyspark.dtypes

[('total_bill', 'string'),
 ('tip', 'string'),
 ('sex', 'string'),
 ('smoker', 'string'),
 ('day', 'string'),
 ('time', 'string'),
 ('size', 'string')]

In [15]:
### describe spark dataframe, like pandas .describe()
df_pyspark.describe().show()

+-------+-----------------+------------------+------+------+------+------------------+------------------+
|summary|       total_bill|               tip|   sex|smoker|   day|              time|              size|
+-------+-----------------+------------------+------+------+------+------------------+------------------+
|  count|              235|               243|   244|   244|   244|               244|               238|
|   mean|19.66893617021277| 3.008270042194093|  null|  null|  null|               3.0|2.5588235294117645|
| stddev|8.975787476831304|1.3840532325373303|  null|  null|  null|1.0954451150103321|0.9472956635665357|
|    min|            10.07|               1.0|Female|    No|Dinner|                 2|                 1|
|    max|             9.94|              Male|   Yes|   Yes|  Thur|             Lunch|                 6|
+-------+-----------------+------------------+------+------+------+------------------+------------------+

In [16]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('tip_bill_ratio',df_pyspark['tip']/df_pyspark['total_bill'])
df_pyspark.show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|     tip_bill_ratio|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|      null|4.71|  Male|    No|Sun|Dinner|   4|               null|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|null|  Male|    No|Sun|Dinner|   2|               null|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [17]:
### Drop the columns
df_pyspark=df_pyspark.drop('tip_bill_ratio')
df_pyspark.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|      null|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|null|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [18]:
### Rename column
df_pyspark.withColumnRenamed('day','week_day').show()

+----------+----+------+------+--------+------+----+
|total_bill| tip|   sex|smoker|week_day|  time|size|
+----------+----+------+------+--------+------+----+
|     16.99|1.01|Female|    No|     Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|     Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|     Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|     Sun|Dinner|   2|
|     24.59|3.61|Female|    No|     Sun|Dinner|   4|
|      null|4.71|  Male|    No|     Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|     Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|     Sun|Dinner|   4|
|     15.04|null|  Male|    No|     Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|     Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|     Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|     Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|     Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|     Sun|Dinner|   4|
|     14.83|3.02|Female|    No|     Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|     Sun|Dinner|   2|
|     10.33|1.67|Female|    No|     Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|     Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|     Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|     Sat|Dinner|   3|
+----------+----+------+------+--------+------+----+
only showing top 20 rows

In [19]:
### DROP NA
### how = any
df_pyspark.na.drop(how="any").show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
|     17.92|4.08|  Male|    No|Sat|Dinner|   2|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [21]:
### DROP NA
## threshold
df_pyspark.na.drop(how="any",thresh=2).show() # rows with a null value are kept

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|      null|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|null|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [22]:
### DROP NA
## Subset
df_pyspark.na.drop(how="any",subset=['total_bill']).show() # rows with a null value on total_bill are discarded

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|null|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
|     17.92|4.08|  Male|    No|Sat|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [28]:
### Filling the Missing Values with zeros
df_pyspark.na.fill("MISSING",['total_bill','tip']).show()

+----------+-------+------+------+---+------+----+
|total_bill|    tip|   sex|smoker|day|  time|size|
+----------+-------+------+------+---+------+----+
|     16.99|   1.01|Female|    No|Sun|Dinner|   2|
|     10.34|   1.66|  Male|    No|Sun|Dinner|   3|
|     21.01|    3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|   3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|   3.61|Female|    No|Sun|Dinner|   4|
|   MISSING|   4.71|  Male|    No|Sun|Dinner|   4|
|      8.77|    2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|   3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|MISSING|  Male|    No|Sun|Dinner|   2|
|     14.78|   3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|   1.71|  Male|    No|Sun|Dinner|   2|
|     35.26|    5.0|Female|    No|Sun|Dinner|   4|
|     15.42|   1.57|  Male|    No|Sun|Dinner|   2|
|     18.43|    3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|   3.02|Female|    No|Sun|Dinner|   2|
|     21.58|   3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|   1.67|Female|    No|Sun|Dinner|   3|
|     16.29|   3.71|  Male|    No|Sun|Dinner|   3|
|     16.97|    3.5|Female|    No|Sun|Dinner|   3|
|     20.65|   3.35|  Male|    No|Sat|Dinner|   3|
+----------+-------+------+------+---+------+----+
only showing top 20 rows

In [36]:
### impute missin values
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['total_bill', 'tip', 'size'], 
    outputCols=["{}_imputed".format(c) for c in ['total_bill', 'tip', 'size']]
    ).setStrategy("median")

In [30]:
df_pyspark.printSchema()

root
 |-- total_bill: string (nullable = true)
 |-- tip: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: string (nullable = true)

In [33]:
#convert the city column data type into integer using int keyword
df_pyspark = df_pyspark.withColumn("total_bill",df_pyspark.total_bill.cast('float'))
df_pyspark = df_pyspark.withColumn("tip",df_pyspark.tip.cast('float'))
df_pyspark.printSchema()

root
 |-- total_bill: float (nullable = true)
 |-- tip: float (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: string (nullable = true)

In [35]:
df_pyspark = df_pyspark.withColumn("size",df_pyspark.tip.cast('int'))

In [37]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+------+------+---+------+----+------------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|total_bill_imputed|tip_imputed|size_imputed|
+----------+----+------+------+---+------+----+------------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   1|             16.99|       1.01|           1|
|     10.34|1.66|  Male|    No|Sun|Dinner|   1|             10.34|       1.66|           1|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|             21.01|        3.5|           3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   3|             23.68|       3.31|           3|
|     24.59|3.61|Female|    No|Sun|Dinner|   3|             24.59|       3.61|           3|
|      null|4.71|  Male|    No|Sun|Dinner|   4|             17.51|       4.71|           4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|              8.77|        2.0|           2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   3|             26.88|       3.12|           3|
|     15.04|null|  Male|    No|Sun|Dinner|null|             15.04|        3.0|           3|
|     14.78|3.23|  Male|    No|Sun|Dinner|   3|             14.78|       3.23|           3|
|     10.27|1.71|  Male|    No|Sun|Dinner|   1|             10.27|       1.71|           1|
|     35.26| 5.0|Female|    No|Sun|Dinner|   5|             35.26|        5.0|           5|
|     15.42|1.57|  Male|    No|Sun|Dinner|   1|             15.42|       1.57|           1|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   3|             18.43|        3.0|           3|
|     14.83|3.02|Female|    No|Sun|Dinner|   3|             14.83|       3.02|           3|
|     21.58|3.92|  Male|    No|Sun|Dinner|   3|             21.58|       3.92|           3|
|     10.33|1.67|Female|    No|Sun|Dinner|   1|             10.33|       1.67|           1|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|             16.29|       3.71|           3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|             16.97|        3.5|           3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|             20.65|       3.35|           3|
+----------+----+------+------+---+------+----+------------------+-----------+------------+
only showing top 20 rows

In [38]:
### Tips less than or equal to 2
df_pyspark.filter(df_pyspark['tip']<=2).show()

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   1|
|     10.34|1.66|  Male|    No| Sun|Dinner|   1|
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|
|     10.27|1.71|  Male|    No| Sun|Dinner|   1|
|     15.42|1.57|  Male|    No| Sun|Dinner|   1|
|     10.33|1.67|Female|    No| Sun|Dinner|   1|
|     13.37| 2.0|  Male|    No| Sat|Dinner|   2|
|     12.69| 2.0|  Male|    No| Sat|Dinner|   2|
|      9.55|1.45|  Male|    No| Sat|Dinner|   1|
|     16.31| 2.0|  Male|    No| Sat|Dinner|   2|
|      9.68|1.32|  Male|    No| Sun|Dinner|   1|
|      9.94|1.56|  Male|    No| Sun|Dinner|   1|
|     11.24|1.76|  Male|   Yes| Sat|Dinner|   1|
|     13.81| 2.0|  Male|   Yes| Sat|Dinner|   2|
|     11.02|1.98|  Male|   Yes| Sat|Dinner|   1|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|
|     12.02|1.97|  Male|    No| Sat|Dinner|   1|
|     10.51|1.25|  Male|    No| Sat|Dinner|   1|
|     10.07|1.83|Female|    No|Thur| Lunch|   1|
|     13.03| 2.0|  Male|    No|Thur| Lunch|   2|
+----------+----+------+------+----+------+----+
only showing top 20 rows

In [39]:
### Tips less than or equal to 2
### Total_bill greater that 15
df_pyspark.filter((df_pyspark['tip']<=2) | 
                  (df_pyspark['total_bill']>=15)).show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   1|
|     10.34|1.66|  Male|    No|Sun|Dinner|   1|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   3|
|     24.59|3.61|Female|    No|Sun|Dinner|   3|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   3|
|     15.04|null|  Male|    No|Sun|Dinner|null|
|     10.27|1.71|  Male|    No|Sun|Dinner|   1|
|     35.26| 5.0|Female|    No|Sun|Dinner|   5|
|     15.42|1.57|  Male|    No|Sun|Dinner|   1|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   3|
|     21.58|3.92|  Male|    No|Sun|Dinner|   3|
|     10.33|1.67|Female|    No|Sun|Dinner|   1|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
|     17.92|4.08|  Male|    No|Sat|Dinner|   4|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [40]:
## GRUOPBY
### Grouped to find the maximum salary
df_pyspark.groupBy('sex').sum().show()

+------+------------------+-----------------+---------+
|   sex|   sum(total_bill)|         sum(tip)|sum(size)|
+------+------------------+-----------------+---------+
|Female|1460.8900015354156|242.2599996328354|      218|
|    No|  57.3799991607666|             null|     null|
|   Yes|12.600000381469727|             null|     null|
|  Male| 3091.329999446869| 470.700000166893|      427|
+------+------------------+-----------------+---------+

In [41]:
df_pyspark.groupBy('sex').avg().show()

+------+------------------+----------------+------------------+
|   sex|   avg(total_bill)|        avg(tip)|         avg(size)|
+------+------------------+----------------+------------------+
|Female|17.815731726041655|2.85011764273924|2.5647058823529414|
|    No|  19.1266663869222|            null|              null|
|   Yes|12.600000381469727|            null|              null|
|  Male|20.747181204341402|3.09671052741377|2.8092105263157894|
+------+------------------+----------------+------------------+

In [42]:
### Groupby time
df_pyspark.groupBy('time').sum().show()

+------+------------------+------------------+---------+
|  time|   sum(total_bill)|          sum(tip)|sum(size)|
+------+------------------+------------------+---------+
| Lunch|1133.7799973487854|178.75999975204468|      160|
|Dinner| 3418.440003633499| 534.2000000476837|      485|
|     4|17.809999465942383|              null|     null|
|     2|52.170000076293945|              null|     null|
+------+------------------+------------------+---------+

In [43]:
df_pyspark.groupBy('time').mean().show()

+------+------------------+------------------+------------------+
|  time|   avg(total_bill)|          avg(tip)|         avg(size)|
+------+------------------+------------------+------------------+
| Lunch| 17.17848480831493|2.7084848447279497|2.4242424242424243|
|Dinner| 20.71781820383939| 3.123976608465987|2.8362573099415203|
|     4|17.809999465942383|              null|              null|
|     2|17.390000025431316|              null|              null|
+------+------------------+------------------+------------------+

In [44]:
df_pyspark.groupBy('time').count().show()

+------+-----+
|  time|count|
+------+-----+
| Lunch|   66|
|Dinner|  172|
|     4|    3|
|     2|    3|
+------+-----+